<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cricket</title>
    <style>
        body
        {
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>
    <center>
        <h1>KONNEMBATTU CRICKET TEAM</h1>
        <table border="1">
            <tr>
                <th>S.No</th>
                <th>Name Of The Player</th>
                <th>Designation</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Karunakar(c)</td>
                <td>Lefthand Batsman</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Bharath</td>
                <td>All rounder</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Kranthi(wk)</td>
                <td>Batsman</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Rakesh</td>
                <td>Batsman</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>GopiKrishna</td>
                <td>All rounder</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>Anil</td>
                <td>All rounder</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>SaiKumar</td>
                <td>Hitter</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>Mohan</td>
                <td>Bowling All rounder</td>
            </tr>
            <tr>
                <td>9.</td>
                <td>Rajasekhar</td>
                <td>Bowling All rounder</td>
            </tr>
            <tr>
                <td>10.</td>
                <td>Venu</td>
                <td>Leg Break</td>
            </tr>
            <tr>
                <td>11.</td>
                <td>Uday</td>
                <td>All rounder</td>
            </tr>
        </table>
    </center>
</body>
</html>